.cart-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.products-list {
    flex: 1;
    margin-right: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
}

.quantity {
    margin-top: 10px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.quantity-button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.remove-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.summary {
    width: 30%;
    background-color: #67d0cc;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
}

.summary-item.total {
    font-weight: bold;
    margin-top: 20px;
}

.checkout-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #121212;
    color: #f6f6f6;
    border: none;
    cursor: pointer;
}
