.cart-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.products-list {
    border-radius: 5px;
    padding: 10px;
    background-color: #67d0cc;
    flex: 1;
    margin-right: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.product-info {
    display: flex;
    align-items: center;
    flex: 1; /* Para ocupar todo el espacio disponible */
}

.product-details {
    display: flex;
    justify-content: space-between;
    flex: 1; /* Para ocupar todo el espacio disponible */
}

.product-chars {
    display: flex;
    flex-direction: column; /* Mostrar en columna */
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-artist {
    font-size: 16px;
    color: #121212;
}

.product-digits {
    display: flex;
    flex-direction: column; /* Mostrar en columna */
    align-items: flex-end; /* Alinear a la derecha */
}

.product-price {
    font-size: 16px;
}

.summary {
    width: 30%;
    background-color: #67d0cc;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
}

.summary-item.total {
    font-weight: bold;
    margin-top: 20px;
}

.checkout-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #121212;
    color: #f6f6f6;
    border: none;
    cursor: pointer;
}
@media (max-width: 991px) {
    .cart-container {
        flex-direction: column; /* Cambia a una sola columna */
        align-items: center; /* Centra los elementos */
    }

    .products-list {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 20px; /* Agrega un espacio entre la lista de productos y el resumen */
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .summary {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}
