.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.card {
    background-color: #e0f7fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    background-color: #67d0cc;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.card-body {
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    margin: 0 auto;
    background-color: #67d0cc;
    color: #f6f6f6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logout-button {
    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: #121212;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.list-unstyled li {
    margin-bottom: 10px;
}
