.register-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #67d0cc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container form {
    margin-bottom: 20px;
}

.register-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
