.table-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.song-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    transition: 0.66s;
}
.song-container:hover {
    transform: scale(1.1);
    transition: 0.66s;
}

.song-container a.card {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit; /* Mantener el color del texto */
}

.song-details {
    display: flex;
    align-items: center;
}

.song-number {
    color: #121212;
    font-size: 24px;
    margin-right: 20px;
}
.song-container p,
h3 {
    margin-left: 50px;
    color: #121212;
}

.song-thumbnail {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
}

.song-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.song-info {
    padding-left: 20px;
}

.song-info h3 {
    font-size: 20px;
    margin: 0;
}

.song-info p {
    margin: 5px 0;
}
svg {
    width: 1%;
}
